<div class="login">
  <div class="container">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form novalidate [formGroup]="loginForm" action="submit" method="post">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" type="email" formControlName="email" required>
            <mat-hint *ngIf="(!submitted) && (f.email.invalid && (f.email.touched) && f.email.errors?.required)">* Email
              is required</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" name="password" type="password" formControlName="password" required>
            <mat-hint
              *ngIf="(!submitted) && (f.password.invalid && (f.password.touched) && f.password.errors?.required)">*
              Password is required</mat-hint>
          </mat-form-field>
          <div class="footer">
            <p class="register">
              <a class="link" routerLink="/auth/forgot-password">Forgot password?</a></p>
            <button type="submit" mat-raised-button color="primary" class="login-button"
              (click)="login()">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>