body {font-family: Arial, Helvetica, sans-serif;}

.login {
  height: 100%;
//  background-image: url(../../../assets/login-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
mat-hint {
  color: red;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

mat-form-field {
 width:51%;
 margin-left: 117px;
 margin-top: 15px;
}

.header{
  text-align: center;
}

.login-button{
  margin-bottom: 10px;
  border-radius: 13px;
  width:30%;
  margin-left: 36%;
}

.mat-form-field {
  width: 66%;
  min-width: 300px;
  margin-left: 15%;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
mat-card{
  width: 45%;
  margin-top: -4%;
  margin-left: 29%;
}
p.register {
  margin-left: 58%;
  margin-right: 37px;
  margin-top: -15px;
}