
.search{
    width: 20%;
    padding: 8px 8px;
    display: inline-block;
    margin-left: 60%;
    margin-top: 24px;
    margin-bottom: -4%;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 13px;
    position: absolute;
    font-size: 17px;
    font-family: ui-serif;
}
.search-feild {
  margin-top: -30px;
  margin-bottom: 62px;
}
.header {
    position: absolute;
    right: 10px;
    cursor: pointer;
 }
 .logout {
    margin: 22px;
    zoom: 0.9;
    border-radius: 10px;
    background-color: #8080808c;
  }
  .create{
    float: right;
    margin-left: 88%;
    zoom: 0.9;
    margin-top: -5px;
    position: absolute;
    border-radius: 10px;
    background-color: #17a2b8;
  }
  .edit{
      color:blue;
      font-size: large;
  }
  .delete{
      color:red;
      font-size: large;
  }
  .content-title {
    display: flex;
    position: relative;
    margin-bottom: 3%;
    margin-top: 1%;
}
  .btn-user{
    margin-left: 86%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 20px;
    background-color: #1e79da;
    color: white;
  }
  .no-data {
    text-align: center;
    margin-top: 10px;
    color: black;
  }
  .user-title {
    font-size: 21px;
    margin-top: 2px;
    position: absolute;
    margin-left: 1%;
    font-family: ui-serif;
  }
  .user-field{
    display: flex;
    align-items: center;
  }

  .img{
    width: 55px;
    border-radius: 20px;
    margin: -5px;
  }

  .title{
    font-family: ui-serif;
    font-size: 27px;
    color: #1e79da;
  }
  ::ng-deep.ngx-pagination {
    padding-left: 0px !important;
    margin-left: 72% !important;
    position: absolute;
    margin-top: -3%;
  }
  
  ::ng-deep.ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  ::ng-deep.ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  mat-card{
    width:100%;
    margin-top: -28px;
    height: 501px !important;
  }
  .table td, .table th {
    vertical-align: middle !important;
}
