<div>
    <div class="container">
        <mat-toolbar class="toolbar">
            <h1 class="title">Pixalive</h1>
            <div class="header">
                <button mat-raised-button class="logout" (click)="logout()">Logout</button>
            </div>
        </mat-toolbar>
        <div class="content-title">
            <div>
                <span class="user-title">User List</span>
                <button  mat-raised-button class="create" (click)="creteUser()">Create User</button>
            </div>
            <div class="search-feild">
                <input matInput type="search" class="form-control search-ip" placeholder="Search..." name="searchValue"
                    class="search" (keyup)="filterUser($event?.target)">
            </div>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    <div class="table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Email</th>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>User Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let user of users | paginate : {  id: 'userId', itemsPerPage: 6, currentPage: listPageNumber , totalItems:9 }; let i = index">
                                    <td>{{user._id}}</td>
                                    <td>{{user.email}}</td>
                                    <td class="user-field">
                                        <img class="img" src={{user.avatar}} alt="">
                                    </td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.username}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-action" matTooltip="Edit"
                                            (click)="editUser(user)">
                                            <div class="ripple edit">
                                                <i class="fa fa-edit"></i>
                                            </div>
                                        </a>
                                        <a class="btn btn-sm btn-action" matTooltip="Delete"
                                            (click)="deleteUser(user.id)">
                                            <div class="ripple delete">
                                                <i class="fa fa-trash-o"></i>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="users.length === 0" class="no-data">No Record Found</div>
                        <div *ngIf="users.length > 10" class="bottom">
                            <pagination-controls id="userId" class="pagination-ctrl"
                                (pageChange)="listPageNumber=$event; getUserList(listPageNumber)"></pagination-controls>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>