<div class="user_form_container">
  <h1 class="header" *ngIf="!isCreate">Update User</h1>
    <h1 class="header" *ngIf="isCreate">Create User</h1>

  <form [formGroup]="UserForm" method="post">
    <mat-form-field appearance="outline" class="user_left">
      <mat-label>Name</mat-label>
      <input name="name" type="text" matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="user_right">
      <mat-label>Username</mat-label>
      <input name="username" type="text" matInput placeholder="Username" formControlName="username" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="user_left">
      <mat-label>Phone Number</mat-label>
      <input name="phone" type="text" matInput placeholder="Phone Number" formControlName="phone" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="user_right">
      <mat-label>Email</mat-label>
      <input name="email" type="text" matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="user_left">
      <mat-label>Password</mat-label>
      <input name="password" type="text" matInput placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <br>
    <div class="gender" class="user_right">
      <mat-label>Gender</mat-label><br>
      <label *ngFor="let radiobutton of radioItems">
        <input name="options" class ="radio-btn" type="radio" (click)="model.option = radiobutton" [checked]="radiobutton === model.option">{{radiobutton}}
      </label>   
    </div>
    <mat-form-field appearance="outline" class="user_left">
      <mat-label>DOB</mat-label>
      <input name="birth" type="text" matInput placeholder="dd/mm/yyyy" formControlName="DOB" required>
    </mat-form-field>
    <br>
    
    <div class="buttons">
      <button class="cancel" type="reset" (click)="CancelUser()" mat-raised-button>Cancel</button>
      <button class="update" type="submit" *ngIf="!isCreate" (click)="UpdateUser()"mat-raised-button>Update</button>
      <button class="update" type="submit" *ngIf="isCreate"(click)="CreateUser()"mat-raised-button>Create</button>
    </div>
  </form>
</div>