.buttons {
  margin-left: 33%;
  display: flex;
}

mat-form-field {
  width:51%;
  margin-left: 117px;
 }
 .update{
  border-radius: 13px;
  background-color: #1e79da;
  color: white;
  margin-left: 25px;
 }
 .cancel{
  border-radius: 13px;
  background-color: #8080808c;
  color: black;
 }
 input.radio-btn {
  margin: 4px;
 }
 input.fb {
  margin: 2px;
 }
 input.google-btn {
  margin: 2px;
 }
 .gender {
  margin-left: 9%;
 }
 .facebook {
  margin-left: 9%;
}
 .header{
   text-align:center;
 }
 .user_form_container {
  width: 100% !important;
  position: absolute;
}
mat-form-field.mat-form-field.user_left {
  width: 19%;
}
mat-form-field.mat-form-field.user_right {
  width: 19%;
  margin-left: 33%;
  margin-top: -6%;
  position: absolute;
}
div.user_right {
  position: absolute;
  margin-left: 33%;
  margin-top: -5%;
}
