<div class="spinner_overlay" *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="asi_mainsection"  >
    <app-sidebar  *ngIf="isShowing" class="sidebar"></app-sidebar>
    <router-outlet></router-outlet>
</div>
