<div id="wrapper">
    <!-- Sidebar -->
    <div class="logo">
        <a class="img"  target="_blank"><img /></a>    
    </div>
    <div class="asi_sidebar" id="sidebar-wrapper" >
        <div class="asi_sidebar_menu">
            <div class="sidebar_btn d-flex justify-content-between align-items-center">
              <div class="pinned_label d-flex asi_sidebar_menu_item" (click)="Navigation('Dashboard')">
               <span class="tab_sider">Dashboard</span> 
              </div>
              <div class="pinned_label d-flex asi_sidebar_menu_item" (click)="Navigation('user')">
                <span class="tab_sider_user"> User Management</span>  
              </div>
              <div class="pinned_label d-flex asi_sidebar_menu_item" (click)="Navigation('post')">
                <span class="tab_sider_post">  Post Management</span>  
              </div>
            </div>
        </div>
    </div>
</div>