.asi_sidebar {
    border-radius: 0px 8px 8px 0px;
    padding: 25px 12px 25px 0px;
    height: 100vh;
    .asi_sidebar_menu {
        .sidebar_scroll {
          overflow: scroll;
          height: calc(100vh - 210px);
          .sidebar_list {
              display: flex;
              align-items: center;
              padding: 3px 0;
              height: 25px;
          }
        }
        .siddebar_pined_list {
          padding-left: 1.563rem;
        }
        .sidebar_btn {
          padding-bottom: 0.375rem;
          padding-top: 2.3rem;
          padding-left: 1.563rem;
         }
        .pinned_label {
            font-style: normal;
            font-weight: 700;
            font-size: 1.375rem;
            line-height: 24px;
            color: #212121;
            flex-direction: row;
            align-items: center;
            position: relative;
            img {
                padding-right: 10px;
                position: absolute;
                left: -2px;
            }
            span {
              margin-left: 15px;
              margin-top: -35%;
            }
        }
        .favourite {
          color: rgba(33, 33, 33, 0.75);
          margin-bottom: 6px;
          padding-left: 1.375rem;
          label {
            margin-left: 0.75rem;
            margin-bottom: 0;
          }
        }
        .asi_sidebar_menu_item {
          position: absolute;
          margin: 5px 0;
          &:hover{
            // background: #F98F88;
            cursor: pointer;
            border-radius: 6px;
            .edit_image{
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
            }
          }
            .white_circle {
                border: 1px solid rgba(33, 33, 33, 0.35);
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
            }
            .black_circle {
              border: 1px solid rgba(33, 33, 33, 1.0);
              height: 11px;
              width: 11px;
              border-radius: 100%;
              display: inline-block;
          }
            .blue_circle{
              height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background: #B9AEFE;
            }
            .ocean_circle {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background: #9CF3FF;
            }
            .orange_circle {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background: #FBCF7A;
            }
            .green_circle {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background:  #CAE16B;
            }
            .red_circle{
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background: #F98F88;
            }
            .pink_circle {
                height: 11px;
                width: 11px;
                border-radius: 50%;
                display: inline-block;
                background: #F8A3FF;
            }
            label {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #212121;
                margin: 0;
                cursor: pointer;
                white-space: nowrap;
                width: 75%;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 20px;
            }
        }
        .favourite_list {
          padding-left: 1.563rem;
           .heading {
            font-weight: 700;
            font-size: 16px;
            display: flex;
            align-items: center;
            }
            .list_item {
              position: relative;
                &:hover{
                  border-radius: 6px;
                  .delete_image{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 12px;
                  }
                }
                font-weight: 700;
                font-size: 12px;
                padding: 6px 1px;
                cursor: pointer;
                a {
                    color: rgba(33, 33, 33, 0.75);
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    span {
                      width: 10px;
                      display: inline-block;
                      font-size: 14px;
                    }
                    label {
                      margin: 0;
                      display: block;
                      cursor: pointer;
                      margin-left: 1.125rem;
                      white-space: nowrap;
                      max-width: 150px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      font-weight: 700;
                      & + label{
                        margin-left: .125rem;
                      font-weight: 500;
                      }
                    }
                }
            }
        }
    }
  }
  @media (max-width: 961px) {
    #sidebar-wrapper {
      position: fixed;
      min-height: 125vh !important;
      .asi_sidebar_menu {
        .sidebar_scroll {
          height: calc(125vh - 120px) !important;
        }
      }
    }
}
span.tab_sider_user {
  // position: absolute;
  // width: 127%;
  padding-top: 171px;
}
span.tab_sider_post {
  padding-top: 156%;
}
.tab_sider{
  margin-left: -98%;
    margin-top: 47%;
}
  #sidebar-wrapper {
    min-height: 100vh;
    // margin-left: -15rem;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    max-width: 16rem;
    min-width: 16rem;
    @media (max-width: 961px) {
      position: fixed;
    }
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  .logo {
    background: #212121;
    padding: 1rem 0.3rem 1rem 1.5rem;
    height: 64px;
    display: flex;
    align-items: center;
    width: 175%;
    @media(max-width: 961px) {
      height: 39px;
      position: fixed;
      top: 0;
      z-index: 99999;
    }
    .toogle_icon {
      display: none;
      @media(max-width: 961px) {
        display: block !important;
        z-index: 9999999999;
        position: fixed;
        left: 0.5rem;
      }
    }
  }
  
  .hide .pinned_label {
        display: none !important;
  }
  .hide .pinned_label span{
    display: none;
    }
  .hide .asi_sidebar_menu_item label{
    display: none;
  }
  .hide .add_pin span{
    display: none;
  }
  .edit_image{
    display: none;
  }
  .asi_sidebar_menu_item:hover .edit_image{
    display: block;
  }
  .hide .asi_sidebar_menu_item:hover .edit_image{
    display: none;
  }
  .delete_image{
    display: none;
  }
  .list_item:hover .delete_image{
    display: block;
  }
  .hide .list_item:hover .delete_image{
    display: none;
  }
  .show .pinned_label img{
    display: block;
  }
  .show .pinned_label span{
    display: block;
  }
  .hide .favourite_list .list_item label {
  display: none !important;
  }
  .hide .favourite_list .heading label{
  display: none !important;
  }
  .hide .fa-angle-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 4px;
  }
  .empty_name:hover {
    border: 1px solid rgba(33, 33, 33, 0.35);
    border-radius: 6px;
    height: 25px;
    .white_circle {
      border: 0 !important;
    }
  }
  .add_pin{
    cursor: pointer;
    color: rgba(33, 33, 33, 0.35);
    font-weight: 700;
    padding-left: 1.62rem;
    margin-bottom: 2rem;
    span {
      margin-left: 18px;
      font-weight: 400;
      @media(min-width: 768px) and(max-width:1366px ) {
        font-size: 0.75rem;
      }
    }
  }
  .white {
    background: transparent;
    border-radius: 6px;
    border: 1px solid rgba(33, 33, 33, 0.35);
    height: 25px;
    padding: 2px 0 !important;
    .white_circle {
      border: 0 !important;
    }
    label {
      margin-left: 19px !important;
      height: 23px;
    }
  }
  .blue {
    background: #B9AEFE;
    border-radius: 6px;
  }
  .ocean {
    background: #9CF3FF;
    border-radius: 6px;
  }
  .green {
    background: #CAE16B;
    border-radius: 6px;
  }
  .orange {
    background: #FBCF7A;
    border-radius: 6px;
  }
  .red {
    background: #F98F88;
    border-radius: 6px;
  }
  .pink {
    background: #F8A3FF;
    border-radius: 6px;
  }
  
  .gray{
    // background: gray;
    border-radius: 6px;
  }
  
  .black{
    background: rgba(33, 33, 33, 0.75);
    border-radius: 6px;
    color: white;
    a{
      span {
        color: transparent;
      }
      label {
        color: white !important;
      }
    }
  }
  
  .progress-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .spinner-border{
    width: 2rem;
    height: 2rem;
  }
  .hide {
    .pink,.red,.orange,.black,.green,.ocean,.blue,.white {
      // background: transparent;
      width: 11px;
    }
    .black a{
      color: rgba(33, 33, 33, 0.75) !important;
      span {
        color: transparent !important;
      }
    }
  }
  @media (min-width: 962px) and (max-width:1366px) {
    #sidebar-wrapper {
      max-width: 10rem;
      min-width: 10rem;
    }
    .asi_sidebar{
      .asi_sidebar_menu {
        .list_item {
          a {
            label {
              width: 70px !important;
            }
          }
        }
      }
    }
  }
  .mobile_pined {
    position: absolute;
    z-index: 99999;
    left: 10px;
    display: none;
    svg {
      fill: #FFFFFF;
    }
  }
  