
  body {font-family: Arial, Helvetica, sans-serif;}

.login {
  height: 100%;
//  background-image: url(../../../assets/login-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
mat-hint {
  color: red;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

form {
    padding: 0;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .form-row {
      width: 100%;
      // padding:0 25px;
      margin: 10px 0;
      text-align: center;
      position: relative;
  
      mat-form-field {
        width: 100%;
        padding:12px;
        border:1px solid #BEBEBE;
        padding-bottom: 0 !important;
        border-radius: 8px;
      }
  
      button[type='submit'] {
        width: 65%;
        margin-left: 12%;
      }
  
      .forgot-password {
        position: absolute;
        right: 0;
        top:4px;
        bottom: 0;
        text-decoration: underline;
        cursor:pointer;
       font-size: 12px !important;
       font-weight: 300;
        z-index: 1;
      }
    }
  }
  .hint-info
{
  color: #8A8A8D;
  font-family: "Avenir Next";
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
    left: -83px;
}

.succes-msg
{
  color: #15151C;
    font-family: "Avenir Next";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

.header{
  text-align: center;
}

.login-button{
  margin-bottom: 10px;
  border-radius: 13px;
  width:30%;
  margin-left: 36%;
}

.mat-form-field {
  width: 66%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.error{
    color: red !important;
}
mat-card{
  width: 45%;
  margin-top: -4%;
  margin-left: 29%;
}
