
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Pixalive-primary: mat.define-palette(mat.$indigo-palette);
$Pixalive-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Pixalive-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Pixalive-theme: mat.define-light-theme((
  color: (
    primary: $Pixalive-primary,
    accent: $Pixalive-accent,
    warn: $Pixalive-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Pixalive-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toast-bottom-right{
    min-width: 200px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .toast-class{
  background-color: whitesmoke;
  text-align:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  padding: 5px;
  border:1px solid #eee;
  }
  
  .toast-error{
    background-color: lightsalmon;
  }
  
  .toast-success{
    background-color: lightsteelblue;
  }
  
  .toast-warning{
    background-color: lightyellow;
  }
  
  .toast-title{
    font-weight:bold;
  }
  
  .toast-message{
     font-style: italic;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding:10px;
  }
  .asi_mainsection {
    background: rgba(33, 33, 33, 0.1);
    width: 100%;
    display: flex;
    .content {
        width: 100%;

    }
    .slider {
        .slider-track {
            background: #E2F1E8;
            height: 5px !important;
            margin-top: 0 !important;
        }
        .slider-handle {
            background-image: linear-gradient(to bottom, #5AB67E, #5AB67E);
            height: 0;
        }
        .slider-selection {
            background-image: linear-gradient(to bottom, #5AB67E, #5AB67E);
            z-index: 999999;
        }
    }
    .asi_content {
        padding: 1.5rem 0;
        height: calc(100vh - 76px);
        // display: flex;
        margin-right: 1.563rem;
        position: relative;
        @media (max-width: 961px) {
            margin-right: 0;
            padding: 0;
        }
        .asai_calendar {
            margin-top: 0.875rem;
            p-accordion {
                z-index: 99;
                position: relative;
            }

            .p-datepicker-calendar {
                font-family: "PT Sans", sans-serif;
                font-size: 14px;
            }
            // .pi-chevron-down::before {
            //     content: "\e903" !important;
            // }
        }
        .find_top {
            display: flex;
        }
        .asai_load_more_button {
            border: 1px solid #479DE8;
            border-radius: 8px;
            background: transparent;
            color: #479DE8;
            padding: 0.3rem 3rem;
            margin-top: 2rem !important;
            margin-bottom: 1rem !important;
            font-family: 'PT Sans', sans-serif;
        }
        .dashboard_tile {
            .single_page_find  {
                margin-bottom: 0.75rem;
            }
            .asi_card_header {
                img {
                  margin-right: -2px;
                }
              }
              .search-results {
                margin-top: -10px;
              }
            .asi_card {
                margin: 0;
                .card_body_knowledge,.card_body_transcript,.card_body_dashboardPR,.card_body_documents {
                    padding-top: 1.375rem;
                }
            }
            .pressrelease_card {
                height: calc(50vh - 73px);
                @media(max-width: 961px) {
                    margin-bottom: 1.25rem;
                }
            }
            .document_card {
                height: calc(49.5vh - 63px);
            }
        }
        .press_releasecard {
            padding-left: 3rem !important;
        }
        .asi_card {
            // background: rgba(255, 255, 255, 0.75);
            background: #FAFAFA;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            padding: 2rem 1.25rem;
            margin-left: 0.938rem;
            margin-right: 1.563rem;
            height: calc(100vh - 126px);
            @media (max-width: 961px) {
                margin: 0;
            }
            .dashboard_page_find {
                margin-bottom: 2rem;
            }
            .doc_type {
                display: inline-block;
            }
            .page_main_titles {
                h2 {
                    font-size: 28px;
                }
                h3 {
                    font-size: 22px;
                }
            }
            .single_page_find {
                .fa-xmark {
                    color: rgba(33, 33, 33, 0.35);
                    margin-left: 8px;
                    cursor: pointer;
                    &:hover {
                        color: rgba(33, 33, 33, 0.75);
                    }
                }
                .find_search {
                    position: relative;
                    margin-top: 6px;
                    .searchButtons {
                        position: absolute;
                        top: 4px;
                        right: 5px;
                        span {
                            color: rgba(33, 33, 33, 0.35);
                        }
                        button {
                            background: transparent;
                            border: 0;
                            .fa {
                                color: rgba(33, 33, 33, 0.35);
                            }
                        }
                    }
                    input {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 26px;
                        font-size: 14px;
                        color: #212121;
                        padding-right: 110px;
                        height: 30px;
                        padding: 0.375rem 0.529rem;
                        border: 0;
                        border: 1px solid rgba(33, 33, 33, 0.35);
                        border-radius: 6px;
                    }

                }
            }
            .asi_card_header {
                // margin-right: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 961px) {
                    display: unset;
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .card_btn {
                    @media (max-width: 961px) { 
                        display: none;
                    }
                }
                .card-title {
                    margin: 0;
                    font-size: var(--fs-title);
                    font-style: normal;
                    font-weight: 700;
                    color: #000000;
                    @media (max-width: 961px) {
                        font-size: 1.375rem;
                    }
                    .back {
                        top: 6px;
                        position: absolute !important;
                        left: -3rem;
                    }
                }
                .card_btn {
                    a {
                        svg {
                            fill: #212121;
                            opacity: 0.35;
                        }
                        &:hover{
                            svg {
                                fill: #212121;
                                opacity: 0.75;
                            }
                        }
                    }
                }
            }
            .card_menu {
                .nav {
                    .nav-link  {
                        font-size: 0.875rem;
                        font-weight: bold;
                        color: #479DE8;
                        padding: 0px 0.625rem 0px 0;
                        border: 0;
                        background: transparent;
                        font-family: 'PT Sans', sans-serif;
                        z-index: 99;
                    }
                    .nav-link.active, .nav-link.tab-active {
                        color: rgba(33, 33, 33, 0.75) !important;
                    }
                }
            }
            .card_body_PR {
                .card_item_border {
                    border-left: 3px solid #479DE8;
                    border-left: 3px solid #479DE8;
                    padding: 0 1rem !important;
                    border-bottom: 0 !important;
                }
            }
            .transcript_body {
                overflow: unset !important;
                // .live_audio {
                //     overflow-y: hidden !important;
                // }
                .single_event_data {
                    // overflow-y: auto;
                    // height: 100vh;
                    // overflow-x: hidden;
                    padding-left: 3rem;
                    width: 100%;
                    position: relative;
                    // .graph,.graph_live {
                    //     min-height: 130px;
                    // }
                }
                .title {
                    color: rgba(33, 33, 33, 0.75);
                }
                .event_type {
                    border: 1px solid rgba(33, 33, 33, 0.1);
                    border-radius: 0px 6px 6px 0px;
                    padding: 5px 10px;
                    font-weight: 400;
                    margin-left: 1rem;
                    font-family: 'PT Sans', sans-serif;
                    font-size: 16px;
                    color: #212121;
                    @media (max-width: 767px) {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 125px;
                        padding: 3px 10px !important;
                        margin-right: 0.625rem;
                    }
                }
            }
            .card_body, .card_body_transcript, .card_body_transcript1, .card_body_knowledge, .card_body_KB, .card_body_documents, .card_body_PR, .card_body_dashboardPR, .card_body_event, .card_body_event, .card_body_notification {
                overflow: auto;
                // height: 70vh;
                .readmore {
                    font-weight: 700;
                    font-size: 12px;
                    color: #5AB67E;
                    font-family: "PT Sans", sans-serif;
                }
                .live-event-border {
                    border-bottom: 1px solid rgba(198, 82, 110, 0.2) !important;
                }
                .card_item {
                    .item {
                        display: flex;
                        .card_img {
                            margin-right: 0.938rem;
                            float: left;
                        }
                    }
                    .card_img {
                        margin-right: 0.938rem;
                    }
                    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
                    padding-top: 0.688rem;
                    padding-bottom: 0.688rem;
                    margin-right: 1.25rem;
                    .card_data {
                        width: 100%;
                        .readmore {
                            font-weight: 700;
                            font-size: 12px;
                            color: #5AB67E;
                        }
                        .live {
                            display: flex;
                            align-items: center;
                            color: #C6526E;
                            .text {
                                font-size: 12px;
                            }
                        }
                        .date {
                            color: rgba(33, 33, 33, 0.75);
                            font-size: 0.75rem;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            img {
                                float: right;
                                width: 16px;
                                height: 12px;
                            }
                        }
                        .title {
                            font-size: 0.875rem;
                            color: #212121;
                        }
                        .description {
                            font-size: 0.75rem;
                            color: rgba(33, 33, 33, 0.75);
                        }
                        .event_type {
                            font-size: 0.75rem;
                            color: rgba(33, 33, 33, 0.75);
                            font-family: "Roboto", sans-serif !important;
                        }
                        .asi_card_additional_info {
                            .title {
                                font-family: "PT Sans", sans-serif;
                            }
                            .audio_controls {
                                background: rgba(255, 255, 255, 0.03);
                                border: 1px solid rgb(198, 82, 110);
                                box-shadow: rgb(0 0 0 / 5%) 0px 5px 15px;
                                border-radius: 8px;
                                padding: 8px;
                                color: #c6526e;
                                margin-bottom: 10px;
                                .play_pause  {
                                    display: flex;
                                    align-items: center;
                                    span {
                                        font-size: 12px;
                                        padding-left: 10px;
                                        font-weight: 400;
                                    }
                                }
                            }
                            .title {
                                font-size: 0.75rem;
                                font-weight: 700;
                            }
                            .table_data {
                                padding-top: 10px;
                                .item {
                                    border-bottom: 1px solid rgba(33, 33, 33, 0.05);
                                    padding: 5px 0;
                                    label {
                                        font-size: 0.625rem;
                                        margin: 0;
                                        font-weight: 400;
                                    }
                                    .heading {
                                        color: rgba(33, 33, 33, 0.35);
                                        // min-width: 130px;
                                        width: 50%;
                                        margin-right: 10px;
                                    }
                                    .desc {
                                        color: #212121;
                                        width: 50%;
                                    }
                                    .past_event {
                                        color: #5AB67E;
                                        text-decoration: underline !important;
                                        .fa-angle-right {
                                            padding-left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .asi_more,.live_event_more {
                        color: #C6526E;
                        font-size: 0.75rem;
                        font-weight: 700;
                        .fa-angle-right {
                            padding-left: 5px;
                        }
                    }
                    .past_event_more {
                        color: #5AB67E;
                    }
                }
                .modal-dialog {
                    .modal-content {
                        background: #212121;
                        box-shadow: 0px 15px 50px rgb(0 0 0 / 30%);
                        border-radius: 20px;
                        .modal-header {
                            border:0;
                        }
                        .close {
                            text-shadow: unset;
                            opacity: unset;
                            font-weight: normal;
                            color: #ffffff;
                        }
                    }
                }
                .share_icons  {
                    label {
                        font-weight: 400;
                        font-size: 14px;
                        color: rgba(33, 33, 33, 0.35);
                        padding-right: 1rem;
                    }
                    .favourite {
                        margin-left: 2.5rem;
                    }
                }
                .load_more {
                    button {
                        border: 1px solid #479DE8;
                        border-radius: 8px;
                        font-weight: 700;
                        font-size: var(--fs-defalut);
                        padding: 10px 50px;
                        color: #479DE8;
                        background: transparent;
                    }
                }
                .single_card_item {
                    .title {
                        font-size: var(--fs-defalut);
                    }
                    .card_main_title {
                        font-size: var(--fs-xl);
                        font-weight: 700;
                        color: #212121;
                        .sub_font {
                            font-size: 22px;
                            font-weight: 400;
                            color: rgba(33, 33, 33, 0.75);
                            .ticker {
                                font-size: 1.75rem;
                                font-weight: 700;
                            }
                        }
                    }
                    .main_sec {
                        // display: flex;
                        padding-top: 1.5rem;
                    }
                    .find-closed {
                        .sugested_container {
                            height: calc(100vh - 370px);
                        }
                    }
                    .find-opend {
                        .sugested_container {
                            height: calc(100vh - 26rem);
                        }
                    }
                    .event_title  {
                        border: 1px solid rgba(33, 33, 33, 0.1);
                        border-radius: 0px 6px 6px 0px;
                        padding: 5px 10px;
                    }
                    .live_event {
                        background: rgba(33, 33, 33, 0.05);
                        border-radius: 0px 6px 6px 0px;
                        padding: 5px 10px;
                    }
                    .graph {
                        padding-bottom: 1rem;
                        @media(max-width: 767px) {
                            padding-top: 1rem;
                        }

                    }
                    .progress {
                        height: 5px;
                        .progress-bar {
                            height: 5px;
                            background: #5AB67E;
                            border-radius: 100px;
                        }
                    }

                    .descriptin  {
                        font-family: 'PT Sans', sans-serif;
                        .dislaimer {
                            p {
                                color: rgba(33, 33, 33, 0.35) !important;
                            }
                        }
                        .copy_rights {
                            color: rgba(33, 33, 33, 0.75) !important;
                        }
                        p {
                            font-size: 16px;
                        }
                        .Participants_row {
                            border-bottom: 1px solid rgba(33, 33, 33, 0.1);
                            padding-top: 2rem;
                            padding-bottom: 2rem;
                        }

                    }
                    .operatordata {
                        padding-top: 2rem;
                        .title {
                            font-size: 1.75rem;
                            margin-bottom: 1rem;
                        }
                        .list {
                            .item {
                                label {
                                    font-weight: 400;
                                    font-size: 1.375rem;
                                    margin: 0;
                                }
                                span {
                                    font-weight: 400;
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    p {
                        font-size: var(--fs-data);
                        color: rgba(33, 33, 33, 0.75);
                        font-weight: 400;
                        line-height: 32px;
                        font-family: 'PT Sans', sans-serif;
                    }
                }
                .sugested_container {
                    border-right: 1px solid rgba(33, 33, 33, 0.1);
                    padding-right: 2rem;
                    padding-top: 1rem;
                    .title {
                        font-weight: 700;
                        font-size: 16px;
                        padding: 5px;
                    }
                    .list {
                        font-weight: 400;
                        font-size: 1rem;
                        .item {
                            font-weight: 400;
                            font-size: 1rem;
                            padding: 0 5px;
                            display: flex;
                        }
                        label {
                            margin: 0;
                            cursor: pointer;
                            white-space: nowrap;
                            width: 130px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @media(max-width: 767px) {
                                margin-right: 0.5rem;
                            }

                        }
                    }
                }
            }
        }
        .asi_minmizecard {
            // min-width: 390px;
            .transcript_player {
                margin-left: 3.125rem;
                margin-bottom: 0.75rem;
            }
       
            .card_body_dashboardPR,.card_body_documents {
                .card_data {
                    width: 100% !important;
                }
            }
        }
        .asi_maximized_card {
            width: 100%;
            .asi_card_header {
                position: relative;
                // margin-bottom: 1rem;
                .card_btn {
                    img {
                        // position: absolute;
                        // right: -2px;
                        // top: 0;
                        margin-right: -2px;
                    }
                }
            }
            .card_body, .card_body_transcript, .card_body_transcript1, .card_body_knowledge, .card_body_KB, .card_body_PR, .card_body_dashboardPR, .card_body_event, .card_body_notification {
                .card_item_round {
                    display: inline-flex;
                    border: 1px solid rgba(33, 33, 33, 0.1);
                    border-radius: 0px 6px 6px 6px;
                    // width: 23%;
                    padding: 1.125rem;
                    width: 100%;
                    img, svg {
                        margin-right: 1rem;
                    }
                }
                .card_item_border {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
                    display: flex;
                    .card_img {
                        margin-right: 1rem;
                        // float: right;
                    }
                }
                .transcript_date {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .date {
                    font-size: 12px;
                    // font-family: "PT Sans", sans-serif;
                    color: rgba(33, 33, 33, 0.75);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 16px;
                        height: 12px;
                        margin: 0;
                    }
                    .date_no {
                        color: rgba(33, 33, 33, 0.75);
                    }
                    .date_year{
                        color: rgba(33, 33, 33, 0.35);
                        padding-left: 5px;
                    }
                }
            }
            .title {
                font-size: 14px;
            }
            .single_page_find {
                position: relative;
                //margin-bottom: 1.5rem;
                .maximize {
                    text-align: right;
                }
                .find_search {
                    width: 360px;
                    position: relative;
                    border: 1px solid rgba(33, 33, 33, 0.35);
                    border-radius: 6px;
                    padding: 0 0.529rem;
                    input {
                        font-size: 14px;
                        font-weight: 700;
                        // color: rgba(33, 33, 33, 0.75);
                        border: 0;
                        padding: 0;
                    }
                    .find_controls {
                        // position: absolute;
                        right: 0;
                        top: 0;
                        top: 7px;
                        font-size: 14px;
                        font-weight: 400;
                        color: rgba(33, 33, 33, 0.35);
                        button {
                            border: 0;
                        }
                    }
                }
            }
        }
        .list_controls {
            .progress {
                height: 5px;
                .progress-bar {
                    height: 5px;
                    background: #5AB67E;
                    border-radius: 100px;
                }
            }
            .play_wraper  {
                font-size: 12px;
                color: #5AB67E;
                box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
                border-radius: 8px;
                padding: 0.5rem;
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid #5AB67E;
                .fa-play {
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    color: #ffffff;
                    background: #5AB67E;
                    padding: 9px 11px;
                }
            }

            .event_play_wrapper  {
              font-size: 12px;
              color: #c6526e;
              box-shadow: 0px 5px 15px rgb(0 0 0 / 5%);
              border-radius: 8px;
              padding: 0.5rem;
              background: rgba(255, 255, 255, 0.03);
              border: 1px solid #c6526e;
              .fa-play {
                  width: 30px;
                  height: 30px;
                  border-radius: 20px;
                  color: #ffffff;
                  background: #c6526e;
                  padding: 9px 11px;
              }
          }
        }
    }
    .asi_search_modal {
        @media(max-width: 961px){
            margin: 0;
            top: -86px;
        }
        .modal-content {
          background: #212121;
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
          border-radius: 20px;
          text-align: center;
          padding: 2.8rem 3.125rem 4.688rem;
          font-family: 'PT Sans', sans-serif;
          margin-top: 8rem;
          @media(max-width: 961px) {
                border-radius: 0;
                width: 100vw;
                padding: 0;
          }
          .p-multiselect .p-multiselect-label {
            width: 250px;
          }
          .modal-header {
            border: 0;
          }
          .p-multiselect .p-multiselect-panel p-multiselectitem .p-ripple .p-checkbox .p-checkbox-box{
            width: 14px !important;
            height: 14px !important;
          }
          .p-multiselect .p-multiselect-panel .p-multiselect-header .p-checkbox-box {
            left: 30px;
          }
          .p-multiselect .p-multiselect-panel .p-multiselect-header .p-checkbox-box::after {
            font-size: 1.25rem;
          }
          .modal-body {
            .title {
                color: #FFFFFF;
                font-weight: 700;
                img {
                    padding-right: 1rem;
                }
            }
            .pined_caption {
                color: rgba(255, 255, 255, 0.75);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                font-family: 'PT Sans', sans-serif;
            }
            .asi_search {
                form {
                    margin-top: 2rem;
                    .modal_input {
                        position: relative;
                        background: #ffffff;
                        display: flex;
                        flex: 1;
                        .fa-xmark {
                            position: absolute;
                            top: 50%;
                            margin-top: -0.5rem;
                            cursor: pointer;
                            right: 15px;
                            color: rgba(33, 33, 33, 0.35);
                            font-weight: bold;
                        }
                    }
         
                    .show {
                        .fa-angle-right {
                            transform: rotate(90deg);
                        }
                    }
                    .fa-search {
                        color: #212121;
                    }
                    .search_input {
                        color: #212121 !important;
                    }
                }
            }
          }
        }
      }
}
  .container{
      position: absolute;
      margin-left: 8%;
      width: 79%;
  }
  .text-danger {
    color: #f05050;
  }

  .spinner {
    width: 40px;
    height: 40px;
    top:35%;
    position: relative;
    margin: 100px auto;
    z-index: 9999999;
  }
  
